<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                registro de usuario
            </div>
            <img src="../../public/img/img2.png" class="rounded-circle mx-auto d-block m-4 logo" alt="logo">
            <img src="../../public/img/cebra.jpg" class="rounded-circle mx-auto d-block m-4 " alt="here">
            <img src="./cebra.jpg" class="rounded-circle mx-auto d-block m-4 " alt="here">
            <img src="/img/img2.png" alt="here">
            <img src="./cebra.jpg" alt="here">
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="name" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="confirmar password">
                    </div>
                    <button class="btn btn-primary btn-block">registrar</button>
                </form>

            </div>
        </div>
    </div>
</div>